.myAccount__card {
  border-radius: 14px !important;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow-x: hidden;
}

.myAccount__card img {
  object-fit: contain;
  max-width: 600px;
  margin: 30px;
}

.myAccount__paperContainer {
  display: flex;
}

.myAccount__content {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.myAccount__card h2 {
  font-size: 1.375rem;
  color: #0283cf !important;
  font-weight: 600 !important;
  text-align: center;
}


.myAccount__card p {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9b9b9b;
  text-align: center;
}

.myAccount__card span {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  /* font-weight: 200; */
  line-height: 1.5;
  color: #0283cf !important;
  text-align: left;
}

.myAccount__card h6 {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  display: inline-block;
  margin-left: 10px;
  background: rgb(1, 204, 1);
  margin-top: 5px;
}

.myAccount__buttons {
  display: flex;
  padding: 30px;
}

button.btn__style {
  margin: 20px;
  display: block;
  padding: 10px 37px;
  font-size: 15px;
  border-radius: 13px;
  font-weight: 300;
  min-height: 31px;
  background-color: #0283cf !important;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  width: fit-content;
  border: none;
  margin: 0px auto;
}

.label input {
  display: block;
  align-self: center;
  margin: 0 auto;
}

button.btn__style:hover {
  background-color: #055a8b !important;
}

/* .myAccount__btn{
  object-fit: contain;
  height: 90px;
  width: 90px;
} */

.action__buttons {
  object-fit: contain;
  height: 90px;
  width: 90px;
  filter: grayscale(1);
}

.action__buttons:hover {
  filter: grayscale(0.1);
  cursor: pointer;
}

.label {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9b9b9b;
  text-align: center;
}

.btn__group {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

@media (max-width: 640px) {
  .myAccount__card {
    border-radius: 14px !important;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow-x: hidden;
  }
}
