@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.paper {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.paper:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
  background-color: rgba(41, 182, 246, 0.1);
}

.paper h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #0283cf !important;
  margin-bottom: 0.3rem;
  line-height: 1.5;
}

.paper img {
  object-fit: contain;
  max-height: 215px;
  margin: 1rem;
}

.paper div {
  align-self: flex-end;
  margin-bottom: 5px;
}

.paper div > a {
  position: relative;
  padding: 4px 37px;
  font-size: 12px;
  border-radius: 13px;
  font-weight: 300;
  min-width: 100px;
  border: 1px solid #0283cf;
  height: 29px;
  right: 5;
  bottom: 15;
  text-decoration: none;
  color: #0283cf !important;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.paper div > a:hover {
  background-color: #0283cf !important;
  color: white !important;
  cursor: pointer;
}

.paper div > button {
  position: relative;
  padding: 4px 37px;
  font-size: 12px;
  border-radius: 13px;
  font-weight: 300;
  min-width: 100px;
  border: 1px solid #0283cf;
  height: 29px;
  right: 5;
  bottom: 15;
  text-decoration: none;
  color: #0283cf !important;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.paper div > button:hover {
  background-color: #0283cf !important;
  color: white !important;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 640px) {
  .paper:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
    background-color: rgba(41, 182, 246, 0.1);
  }
}
